name: CI

on:
  push:
    branches: [ develop ]
  pull_request:

jobs:
  test:
    name: Test on Java ${{ matrix.java }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java: [ 8, 11, 17, 21, 25 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

        # Gradle 캐시(빌드 시간 단축)
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}

      - name: Run Tests
        run: ./gradlew test
