name: CI

on:
  push:
    branches: [ develop ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java: [ 8, 11, 17, 21, 25 ]

    steps:
      - uses: actions/checkout@v4

      # JDK 17 고정
      - name: Setup JDK 17 for Gradle
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # 환경변수 설정 후 테스트 실행
      - name: Run tests using Java ${{ matrix.java }}
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          PUBLIC_KEY: ${{ secrets.PUBLIC_KEY }}
        run: ./gradlew clean test -PtestJdk=${{ matrix.java }} --no-daemon
